<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @sample.image %>
</p>

<p>
  <strong>Title:</strong>
  <%= @sample.title %>
</p>

<p>
  <strong>Star:</strong>
  <%= @sample.star %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sample.description %>
</p>

<%= link_to 'Edit', edit_sample_path(@sample) %> |
<%= link_to 'Back', samples_path %>
