<br>
<% if(user_signed_in?) %>
<div class="row">
<% if current_user.role == 'driver' %>
    <% @delivers.each do |deliver| %>
      <% if current_user.id == deliver.driver.to_i %>
        <div class="col s6 m6">
          <div class="card <%= deliver.state == 'pending' ? 'blue lighten-2' : '' %> 
                           <%= deliver.state == 'done' ? 'blue-grey darken-1' : '' %> 
                           <%= deliver.state == 'approved' ? 'teal lighten-2' : '' %>
                           <%= deliver.state == 'cancel' ? 'red lighten-2' : '' %>"> 
            <div class="card-content white-text">
              <span class="card-title"><%= deliver.name %></span>
              Номенклатура: <br/>
              <p><%= deliver.objectlist %></p>
              <hr>
              Адреса: <br/>
              <p><%= deliver.address %></p>
            </div>
            <div class="card-action">
            <% if deliver.state == 'pending' %>
              <%= link_to 'Взяти замовлення', delivers_approve_path("id"=>deliver), method: :post %>
            <% end %>
            <% if deliver.state == 'approved' %>
              <%= link_to 'Відмінити', delivers_cancel_path("id"=>deliver), method: :post %>
            <% end %>
            &nbsp;
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
<% else %>
  <script type="text/javascript">
    window.location.href="/delivers"
  </script>
<% end %>
</div>
<% else %>
<div class="row">
  <div class="col s12 m6">
    <div class="card red accent-2 darken-1">
      <div class="card-content white-text">
        <span class="card-title">Помилка!</span>
        <p>Для початку роботи потрібно ввійти</p>
       </div>
      <div class="card-action">
        <%= link_to  "Ввійти", new_user_session_path %>
      </div>
    </div>
  </div>
</div>
<% end %>


