    <script>
    $(document).ready(function(){
      $('select').formSelect();
    });
    </script>
<div class="col s6">
<%= form_with(model: deliver, local: true) do |form| %>
  <% if deliver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(deliver.errors.count, "error") %> prohibited this deliver from being saved:</h2>

      <ul>
      <% deliver.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :deliver_name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :deliver_address %>
  </div>

  <div class="field">
    <%= form.label :objectlist %>
    <%= form.text_area :objectlist %>
  </div>
  <div class="field">
    <%= form.label 'Select driver' %>
    <%= form.select :driver do %>
    <% @user.each do |driver| %>
      <% if driver.role == 'driver' %>
      <%= content_tag(:option, "#{driver.name}", value: driver.id) %>
      <% end %>
    <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= form.hidden_field :is_deliverd, :value => false %>
    <%= form.hidden_field :approved, :value => false %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit class: "waves-effect waves-light btn blue lighten-2" do %>
    <% end %>
  </div>
<% end %>
