<div class="col s6">
<%= form_with(model: deliver, local: true) do |form| %>
  <% if deliver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(deliver.errors.count, "error") %> prohibited this deliver from being saved:</h2>

      <ul>
      <% deliver.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>Назва доставки:</label>
    <%= form.text_field :name, id: :deliver_name %>
  </div>

  <div class="field">
    <label>Кінцева адреса:</label>
    <%= form.text_field :address, id: "autolocation" %>
  </div>

  <div class="field">
    <label>Номенклатура:</label>
    <%= form.text_area :objectlist, class: "materialize-textarea" %>
  </div>
  <div class="field">
    <%= form.label 'Оберіть водія:' %>
    <%= form.select :driver do %>
    <% @user.each do |driver| %>
      <% if driver.role == 'driver' %>
      <%= content_tag(:option, "#{driver.name}", value: driver.id) %>
      <% end %>
    <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= form.hidden_field :state, :value => 'pending' %>
    <!--<%= form.hidden_field :approved, :value => false %>-->
  </div>
  <br>
  <div class="actions">
    <%= form.submit "Створити Доставку", class: "waves-effect waves-light btn blue lighten-2" do %>
    <% end %>
  </div>
<% end %>
    <script>
    $(document).ready(function(){
      $('select').formSelect();
    });
    </script>