<p id="notice"><%= notice %></p>

<h1>Доставки</h1>

<% if current_user.role == 'driver' %>
<table>
  <thead>
    <tr>
      <th>Назва</th>
      <th>Адреса</th>
      <th colspan="3"></th>
    </tr>
  </thead>



  <tbody>
    <% @delivers.each do |deliver| %>
    <% if deliver.driver.to_i == current_user.id %>
      <tr class="<%= deliver.state == 'pending' ? 'blue lighten-2' : '' %> 
                 <%= deliver.state == 'done' ? 'blue-grey darken-1' : '' %> 
                 <%= deliver.state == 'approved' ? 'teal lighten-2' : '' %>
                 <%= deliver.state == 'cancel' ? 'red lighten-2' : '' %>">
        <td><%= deliver.name %></td>
        <td><%= deliver.address %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<% end %>

<% if current_user.role == 'operator' %>
<table>
  <thead>
    <tr>
      <th>Назва</th>
      <th>Адреса</th>
      <th>Водій</th>
      <th colspan="3"></th>
    </tr>
  </thead>



  <tbody>
    <% @delivers.each do |deliver| %>
      <tr class="<%= deliver.state == 'pending' ? 'blue lighten-2' : '' %> 
                 <%= deliver.state == 'done' ? 'blue-grey darken-1' : '' %> 
                 <%= deliver.state == 'approved' ? 'teal lighten-2' : '' %>
                 <%= deliver.state == 'cancel' ? 'red lighten-2' : '' %>">
        <td><%= deliver.name %></td>
        <td><%= deliver.address %></td>
        <td><%= User.find_by_id(deliver.driver.to_i).name %></td>
        <td><%= link_to 'Показати деталі', deliver,class: "waves-effect waves-light btn blue lighten-2" %></td>
        <td>
        <% if deliver.state == 'approved'%>
        <%= link_to 'Виконано', delivers_done_path("id"=>deliver), method: :post, class: "waves-effect waves-light btn blue lighten-2" %>
        <% end %>
        <% if deliver.state == 'cancel'%>
        <%= link_to 'Відмінити', delivers_done_path("id"=>deliver), method: :post, class: "waves-effect waves-light btn blue lighten-2" %>
        <% end %>
        </td>&nbsp;
        <td><%= link_to 'Редагувати', edit_deliver_path(deliver),class: "waves-effect waves-light btn blue lighten-2" %></td>
        <td><%= link_to 'Видалити', deliver, method: :delete, data: { confirm: 'Ви впевнені?' },class: "waves-effect waves-light btn blue lighten-2" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render "shared/floating_button"%>
<% end %>

<% if current_user.role == 'accounter' %>
<%= link_to "Імпортувати таблицю", delivers_path(format: "csv"), class: "waves-effect waves-light btn blue lighten-2" %>
<%= select_tag :per_page, options_for_select([10,20,50], params[:per_page].to_i),
       :onchange => "if(this.value){window.location='?per_page='+this.value;}" %>
<table class="striped">
  <thead>
    <tr>
      <th>Ім'я</th>
      <th>Адреса</th>
      <th>Номенклатура</th>
      <th>Водій</th>
      <th>Статус</th>
    </tr>
  </thead>

  <tbody>
    <% @delivers.each do |deliver| %>
      <tr>
        <td><%= deliver.name %></td>
        <td><%= deliver.address %></td>
        <td><%= deliver.objectlist %></td>
        <td><%= User.find_by_id(deliver.driver.to_i).name %></td>
        <td><%= deliver.state %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>

<%= will_paginate @delivers %>
<!-- <%= link_to 'New Deliver', new_deliver_path %> -->


