<p id="notice"><%= notice %></p>

<p>
  <strong>Назва:</strong>
  <%= @deliver.name %>
</p>

<p>
  <strong>Адреса:</strong>
  <%= @deliver.address %>
</p>

<p>
  <strong>Номенклатура:</strong>
  <%= @deliver.objectlist %>
</p>

<%= link_to 'Edit', edit_deliver_path(@deliver) %> |
<%= link_to 'Back', delivers_path %>
