<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @deliver.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @deliver.address %>
</p>

<p>
  <strong>Objectlist:</strong>
  <%= @deliver.objectlist %>
</p>

<%= link_to 'Edit', edit_deliver_path(@deliver) %> |
<%= link_to 'Back', delivers_path %>
