<!DOCTYPE html>
<html>
  <head>
    <title>MBCourier</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
    $(document).ready(function(){
      $('select').formSelect();
    });
    </script>
  </head>

  <body>
    <%= render  "shared/navbar" %>

    <%= render 'shared/message' %>

    <div class="row">
    <div class="col m10 offset-m1">
    <%= yield %>
    </div>
    </div>
  </body>
</html>
