<!DOCTYPE html>
<html>
  <head>
    <title>MBCourier</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
      var elem = document.querySelector('.sidenav');
      var instance = M.Sidenav.init(elem, options);
    </script>
  </head>

  <body>
    <%= render  "shared/navbar" %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="row">
    <div class="col m10 offset-m1">
    <%= yield %>
    </div>
    </div>
  </body>
</html>
